@import "node_modules/material-design-lite/src/material-design-lite";

html, body, .page-content, .mdl-layout__content {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width:100%;
  height: 100%;
}
